<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div>
    <ul class="nav navbar-nav">
      <li>
          {{link-to "Cars" "cars"}}
      </li>
      <li class="divider-vertical"></li>
    </ul>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
    {{#if loggedInUser}}
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{loggedInUser}} <b class="caret"></b></a>
      <ul class="dropdown-menu pull-right">
        <li>
            {{link-to "Profile" "user"}}
        </li>
        <li class="divider-vertical"></li>
        <li>
            <a href="#" {{action 'logout'}}>Log Out</a>
        </li>
      </ul>
    {{else}}
      {{link-to "Log In" "login"}}
    {{/if}}
    </li>
  </ul>
</nav>
{{outlet}}
